*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100vw;
    overflow-x: hidden;
    /*background-color: antiquewhite;*/
}

.header-banner img{
    height: auto;
    width: 100vw;
}
.header-search{
    height: 100px;
    background-color: white;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    height: auto;
    width: 40%;
}
/*.form-control{
    height: 50px;
    width: 200px;
    background-color: #fff;
    border-color: red;
    border-radius: 40px;
    font-size: 12px;
    position: relative
}*/
/*.btn1{
    align-items: center;
    position: absolute;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: red;
    border: none
}
.input-field{position: relative}
.input-field button{
    position: absolute;
    top: 3px;
    right: 3px;
    color: #fff;
    font-size: 14px;
    cursor: pointer
}*
.support p{
    margin:0px;
}


.header-menu ul{
    list-style-type: none;
    background: red;
    text-align: center;
}
.header-menu ul li{
    color: #f1f1f1;
    display:inline-block;
    width: 120px;
    line-height: 50px;
    position: relative;
}
.header-menu ul li a{
    color:white;
    text-decoration: none;
    display:block;
}
.header-menu ul li a:hover{
    background: #f1f1f1;
    color:#333;
}
.header-menu ul li > .sub-menu{
    display:none;
    position: absolute;
    text-align: center;
    padding: 0;
}
.header-menu ul li:hover .sub-menu{
    display:block;
}
.item-slider img{
    width: 100%;
    margin-bottom: 20px;
}
.banner-project{
    padding: 10px;
    display: flex;
}
.banner-project img, .thumbnail img{
    width: 100%;
    text-align: center;
}
.top-products, .sneaker-hot{
    background-color: white;
    margin-top: 20px;
}

.top-products h2,a{
    text-align: center;
}
.top-products h2 a, .description-sneaker-hot a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
.top-products h2 a:hover, .caption p:hover, .description-sneaker-hot a:hover{
    color: red;
}
.thumbnail, .price-detail{
    margin: 10px;
    border-style: dashed;
    border-color: gainsboro;
}
.thumbnail{
    margin-bottom: 0px;
}
.top-items a{
    color:black;
    text-decoration: none;
}
.price-detail{
    margin-top: 0px;
    border-top: 0px;
    display: flex;
    align-items: center;
    height: 45px;
}
.top-items{
    padding: 0px;
}
.price{
    text-align: center;
}
.price p{
    margin: 0px;
}
.price-sale{
    color: red;
    font-weight: bold;
}
.price-original{
    text-decoration: line-through;
    font-size: small;
}
.detail{
    justify-content: center;
}
.image-sneaker-hot img{
    width: 100%;
}
.description-sneaker-hot{
    margin-left: 50px;
    margin-right: 20px;
}
.title-sneaker-hot{
    margin-top: 40px;
    margin-bottom: 30px;
}
.des{
    margin-bottom: 20px;
}
.product-category{
    background-color: white;
    margin-top: 40px;
}
.banner-newbalance img{
    width: 100%;
}
.category ul li{
    list-style: none;
}

.fa-angle-right:hover{
    color: red;
}
.list-product-left{
    display: flex;
    height: 100%;
    align-items: center;
}
.list-level1, .list-level2{
    text-decoration: none;
    color:black;
    text-align: left;
}
.list-level1:hover,.list-level2:hover, .lv3:hover{
    color: red;
    
}
.list-product-left i{
    justify-content: center;
    display: flex;
    text-align: right;
    padding-right: 20px;
}
.nav-link{
    text-align: left;
}
.more-items{
    text-align: center;
}
.detail button,.more-items button{
    background-color: red;
    border: none;
}
.more-items button:hover{
    background-color: red;
}
.detail button:hover{
    background-color: white;
    color:red;
}
.more-items a{
    color: white;
    text-decoration: none;
}
footer{
    background-color: white;
    margin-top: 40px;
}
.service p, .service span{
    font-size: small;
}
.service{
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
.service img{
    width: 80%;  
}
.service-images,.title-service{
    padding: 0px;
}
.service p{
    margin: 0px;
    font-weight: bold;
}
.service-item{
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: center;
}
.more-information{
    height: 300px;
}
.more-information h4, .more-information a{
    color:white;
    text-decoration: none;
}
.more-information a:hover{
    color: red;
}
.more-information ul li{
    list-style: none;
}
.wrap-center{
    line-height: 2;
}
.btn2{
    align-items: center;
    position:absolute;
    height: 35px;
    width: 80px;
    background-color: red;
    border: 0;
    border-radius: 0;
    padding: 0;
}
.form-control2{
    height: 40px;
    width: 200px;
    background-color: #fff;
    border-color:#f1f1f1;
    font-size: 12px;
    position: relative;
}
.follow-option{
    height: 40px;
    width: 40px;
    background-color: red;
    border: 0;
    border-radius: 0;
    padding: 0;
}

.fone{
    text-decoration: none;
    font-size: x-large;
}
.contact{
    margin-top: 30px;
}
.contact h4{
    text-transform: uppercase;
    font-size: small;
}
.contact a{
    color:black
}
.contact i{
    color: red;
}
.contact p{
    font-size: small;
}
.follow-option i{
    color:white;
    font-size:x-large;
}



.btn-primary {
    background-color: #ff2d37;
}

.banner {
    max-width: 100vw;
}*/

.dropdown-menu > a {
    color: black !important;
}

#products-list:hover>.dropdown-menu {
    display: block;
  }
  
#products-list>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
}